Header{
  display: flex;
  text-align: center;
  justify-content: center;
}
ul{
  width: 50vw;
  list-style: none;
}
li{
  display:inline-block;
  margin-left: 1vw;
  margin-right: 1vw;
}
.Preview, .TestimonialsSection, .Footer{
  background-color: #495E57;
}
.SpecialsSection, .AboutSection{
  background-color: #F4CE14;
}
.ContentBlock{
  display:flex;
  justify-content: center;
  margin-left: 15vw;
  margin-right: 15vw;
}
.Preview section{
  flex: 1;
}
/* .ContentBlock{
  display: flex;
  justify-content: center;
} */
.Card{
  flex: 1;
}
form{
   display: grid; max-width: 200px; gap: 20px;
}
/* COLORS 495E57 F4CE14*/